<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: ' | Create Product' }) %>
</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
    <!--Nav-->
    <%- include('../partials/nav') %>

    <div class="flex items-center justify-center py-12 px-4">
        <form class="w-3/4"
            action="/products/create" 
            method="post" 
            enctype="multipart/form-data"
        >
            <div class="shadow sm:rounded-md sm:overflow-hidden">
                <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                    <h2>Create Product</h2>
                    <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-3 sm:col-span-2">
                            <label for="name" class="block text-sm font-medium text-gray-700">
                                Product name
                            </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="text" 
                                    name="name" 
                                    id="name" 
                                    value="<%= locals.old && locals.old.name ? locals.old.name : '' %>"
                                    class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                                    placeholder="Termo Lumilagro"
                                >
                            </div>
                            <% if (locals.errors && errors.name) { %>
                                <span class="text-red-500 text-sm">
                                    <%= errors.name.msg %>
                                </span>
                            <% } %>
                        </div>
                    </div>

                    <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-3 sm:col-span-2">
                            <label for="price" class="block text-sm font-medium text-gray-700">
                                Currency
                            </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <select class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                                    name="currency" 
                                    id="currency"
                                >
                                    <% currencies.forEach(currency => { %>
                                        <option value="<%= currency.symbol %>">
                                            <%= currency.symbol %>
                                            <%= currency.name %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                            <% if (locals.errors && errors.currency) { %>
                                <span class="text-red-500 text-sm">
                                    <%= errors.currency.msg %>
                                </span>
                            <% } %>
                        </div>
                    </div>

                    <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-3 sm:col-span-2">
                            <label for="price" class="block text-sm font-medium text-gray-700">
                                Price
                            </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="number" 
                                    name="price" 
                                    id="price" 
                                    value="<%= locals.old && locals.old.price ? locals.old.price : '' %>"
                                    class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                                    placeholder="9800"
                                >
                            </div>
                            <% if (locals.errors && errors.price) { %>
                                <span class="text-red-500 text-sm">
                                    <%= errors.price.msg %>
                                </span>
                            <% } %>
                        </div>
                    </div>

                    <div>
                        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                        <div class="mt-1">
                            <textarea id="description" 
                                name="description" 
                                rows="3" 
                                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                            ><%= locals.old && locals.old.description ? locals.old.description : '' %></textarea>
                        </div>
                        <p class="mt-2 text-sm text-gray-500">Brief description for your product.</p>
                        <% if (locals.errors && errors.description) { %>
                            <span class="text-red-500 text-sm">
                                <%= errors.description.msg %>
                            </span>
                        <% } %>
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-gray-700"> Cover photo </label>
                        <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                            <div class="space-y-1 text-center">
                                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <div class="flex text-sm text-gray-600">
                                    <label for="file-cover-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                    <span>Upload a file</span>
                                    <input id="file-cover-upload" name="images" type="file" class="sr-only" multiple>
                                    </label>
                                    <p class="pl-1">or drag and drop</p>
                                </div>
                                <% if (locals.errors && errors.images) { %>
                                    <span class="text-red-500 text-sm">
                                        <%= errors.images.msg %>
                                    </span>
                                <% } %>
                                <p class="text-xs text-gray-500">PNG, JPG up to 10MB</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
                </div>
            </div>
        </form>
    </div>

    <!-- About -->
    <%- include('../about') %>

    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>

</html>