<section class="bg-white py-8">

    <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

        <!-- navigation -->
        <%- include('../components/nav-filter-search') %>

        <% if (products.length) { %>

            <% products.forEach(product => { %>
                <div id="product-<%= product.slug %>" class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
                    <a href="/products/<%= product.slug %>">
                        <% if (Array.isArray(product.images)) { %>
                            <img 
                                src="<%= product.images[0].path %>"
                                class="hover:grow hover:shadow-lg object-cover h-48 w-96 rounded" 
                            >
                        <% } %>
                    </a>
                    <p style="color: #000; font-size: 1.2rem; font-weight: bold; margin-top: 0.5rem;">
                        <%= product.category.name %>
                    </p>
                    <div class="pt-3 flex items-center justify-between">
                        <p><%= product.name %></p>
                        <div class="pt-3 flex items-center">
                            <% if(isLoggedIn) { %>
                                <!-- product actions -->
                                <%- include('./actions', { product: product }) %>
                            <% } %>
                        </div>
                    </div>
                    <p class="pt-1 text-gray-900">
                        <%= product.currency.code %> 
                        <%= product.price %>
                    </p>
                </div>
            <% }) %>

        <% } else { %>
            <h1>Sin datos <br> ¿Nos conectamos a la base de datos?</h1>
        <% } %>
    </div>

</section>

<script src="/js/products.js"></script>